$PRIMARY-1: #ba151a;
$PRIMARY-2: #7d0e14;
$SECONDARY: #3fae7f;
$WHITE: #f5f5f5;
$WHITE-two: #ffffff;
$BLACK-87: rgba(0, 0, 0, 0.87);
$BLACK-60: rgba(0, 0, 0, 0.6);
$BLACK-54: rgba(0, 0, 0, 0.54);
$BLACK-38: rgba(0, 0, 0, 0.38);
$BLACK-12: rgba(0, 0, 0, 0.12);
$WHITE-two-38: rgba(255, 255, 255, 0.38);
$WHITE-two-54: rgba(255, 255, 255, 0.54);
$WHITE-two-60: rgba(255, 255, 255, 0.6);
