{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "jsx-a11y"],
  "overrides": [
    {
      "files": ["**/*.test.js", "**/*.test.jsx"],
      "env": {
        "jest": true
      }
    }
  ],
  "rules": {
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": 0,
    "react-hooks/exhaustive-deps": 0,
    "react/require-default-props": 0,
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "no-console": 2,
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["invalidHref", "preferButton"]
      }
    ],
    "no-use-before-define": ["error", { "functions": false, "variables": true }],
    "func-style": ["error", "expression"],
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreUrls": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  }
}
