@import 'assets/styles/utils';
@import 'assets/styles/components';
@import '~bootstrap/scss/bootstrap';

body {
  background: $WHITE;
  font-size: 14px;
}

.container-fluid.container-custom {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}
